<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jatdigit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

    <!-- Bootstrap Fremwork Main Css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- All Plugins css -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- Modernizr JS -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>

<!-- Start Header Style -->
<header th:fragment="header" id="header" class="htc-header">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-6">
                    <div class="logo">
                        <a th:href="@{/home}">
                            <img th:src="@{/images/jatdigit.png}" alt="logo">
                        </a>
                    </div>
                </div>
                <!-- Start MAinmenu Area-->
                <div class="col-md-8 col-lg-8 d-none d-md-block">
                    <nav class="mainmenu__nav  d-none d-lg-block">
                        <ul class="main__menu">
                            <li class="drop"><a th:href="@{/home}">Shop</a>
                            </li>
                            <li><a th:href="@{/about}">About</a></li>
                            <li><a th:href="@{/info}">+Info</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End MAinmenu Ares -->
                <div class="col-md-2 col-lg-2 col-6">
                    <ul class="menu-extra">
                        <li class="search search__open d-none d-sm-block"><span class="ti-search"></span></li>
                        <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                        <li class="toggle__menu d-none d-md-block"><span class="ti-menu"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>
<!-- End Header Style -->
<!-- Body main wrapper end -->
<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- Bootstrap Framework js -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All js plugins included in this file. -->
<script th:src="@{/js/plugins.js}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
