<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jatdigit e-Commerce</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Bootstrap Fremwork Main Css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- All Plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-6">
                            <div class="logo">
                                <a th:href="@{/home}"></a>
                                    <img src="images/logo/uniqlo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Area-->
                        <div class="col-md-8 col-lg-8 d-none d-md-block">
                            <nav class="mainmenu__nav  d-none d-lg-block">
                                <ul class="main__menu">
                                    <li class="drop"><a th:href="@{/home}">Home</a>
                                    </li>
                                    <li><a th:href="@{/about}">About</a></li>
                                    <li class="drop"><a th:href="@{/collections}">Shop</a>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-lg-2 col-6">
                            <ul class="menu-extra">
                                <li class="search search__open d-none d-sm-block"><span class="ti-search"></span></li>
                                <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                                <li class="toggle__menu d-none d-md-block"><span class="ti-menu"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a th:href="@{/home}"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="logo">
                            <a th:href="@{/home}">
                                <img src="images/logo/uniqlo.png" alt="logo">
                            </a>
                        </div>
                        <p>Diseños de artesanía digital </p>
                        <p> Joyería realizada con fabricación
                          <br>  digital desde una visión arquitectónica. </p>
                    </div>
                    <ul class="sidebar__thumd pl--20">
                        <li><a href="https://www.instagram.com/jatdigit"><img src="images/product/quickview-1.jpg" alt="sidebar images" style="width:140px; height:140px" align:"right";></a></li>
                        <li><a href="https://www.instagram.com/jatdigit"><img src="images/product/quickview-2.jpg" alt="sidebar images" style="width:140px; height:140px";></a></li>

                    </ul>
                    <div class="offset__widget">
                        <div class="offset__single">
                            <h4 class="offset__title">Lenguaje</h4>
                            <ul>
                                <li><a th:href="@{/home}">Español</a></li>
                            </ul>
                        </div>
                        <div class="offset__single">
                            <h4 class="offset__title">Monedas</h4>
                            <ul>
                                <li><a th:href="@{/home}">EUR : Euro</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap">
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="images/product/sm-img/1.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$105.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="images/product/sm-img/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Subtotal:</li>
                        <li class="total__price">$130.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="cart.html">View Cart</a></li>
                        <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Header -->
        <div class="header">
              <img src="images/logo.jpg" alt "logo" style="width:1400px; height:400px;" />
        </div>
          <!-- End Header -->
        <!-- Start Our Product Area -->
        <section class="htc__product__area ptb--150 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <!-- Start Collection Menu -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                                <button data-filter="*"  class="is-checked">Collections</button>
                            </div>
                        </div>
                    </div>
                    <!-- End Collection Menu -->
                    <div class="row product__list pl--150">
                        <!-- Start First Collection -->
                        <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a th:href="@{/collections/bicolor}">
                                          <img src="images/collections/1.jpg" alt="product images">
                                        </a>
                                    </div>
                                </div>
                                <div class="product__details" align="center">
                                    <h2><a th:href="@{/collections/bicolor}"> <p style="color:red;">Bicolor Collection</p></a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- End First Collection -->
                        <!-- Start Second Collection -->
                        <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a href=a th:href="@{/collections/universe}">
                                            <img src="images/collections/2.jpg" alt="product images">
                                        </a>
                                    </div>
                                <div class="product__details">
                                    <h2><a th:href="@{/collections/universe}"> <p style="color:red;">
                                       Universe Without Objects <br>Collection</p></a></h2>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- End Second Collection -->
                        <!-- Start Third Collection -->
                        <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a th:href="@{/collections/lines}">>
                                          <img src="images/collections/3.jpg" alt="product images">
                                        </a>
                                    </div>
                                <div class="product__details">
                                    <h2><a th:href="@{/collections/lines}"> <p style="color:red;"> Lines Collection</p></a></h2>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- End Third Collection -->
                      </div>
                  </div>
                </div>
        </section>
        <!-- End Our Product Area -->
        <div th:replace="footer.html :: copy"></div>

    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap Framework js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>
