<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Universe Collection || Jatdigit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

    <!-- Bootstrap Fremwork Main Css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- All Plugins css -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- Modernizr JS -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="header.html :: header"></div>
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
             <!-- Start Cart Panel -->
           <div class="shopping__cart">
                <div class="shopping__cart__inner">
                 	<div class="off__contact">
                        <p> No esperes más para obtener uno de nuestros productos...
                          <br> ¡Finaliza tu compra accediendo al carrito! </p>
                    </div>
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>                 
                    <ul class="shopping__btn">
                        <li><a th:href="@{/cart}">Ver Carrito</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
       <div class="ht__bradcaump__area pt--100" th:style="'background: url(' + @{/images/collections/vanguardia.jpg} + ') no-repeat scroll center center / cover;'">'">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Our Product Area -->
        <section class="htc__product__area ptb--150 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <!-- Start Product MEnu -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                                <button data-filter="*"  class="is-checked">Universe Without Objects Collection</button>
                            </div>
                            <div class="product__details" align="center">
                               <h2><p style="color:grey;">Diseños a partir de geometrías básicas y colores puros.</p></h2>                                 
                             </div>
                        </div>
                    </div>
                    <!-- End Product MEnu -->
                    <div class="row product__list pl--150">
                        <!-- Start Single Product -->
                        <div class="col-md-4 single__pro col-lg-3 cat--1 col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a th:href="@{/products/diagonal-square}">
                                            <img th:src="@{/images/products/big/diagonal-square.jpg}" alt="product images">
                                        </a>
                                    </div>
                                </div>
                                <div class="product__details" align="center">
                                    <h2><p style="color:red;">Diagonal Square</p></h2>                                 
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                        <!-- Start Single Product -->
                        <div class="col-md-4 single__pro col-lg-3 cat--1 col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                      <a th:href="@{/products/geometry-bang}">
                                            <img th:src="@{/images/products/big/geometry-bang.jpg}" alt="product images">
                                        </a>
                                    </div>
                                </div>
                               <div class="product__details" align="center">
                                    <h2><p style="color:red;">Geometry Bang</p></h2>                                 
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                        <!-- Start Single Product -->
                        <div class="col-md-4 single__pro col-lg-3 col-sm-12 cat--2">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                      <a th:href="@{/products/yellow-ray}">
                                            <img th:src="@{/images/products/big/yellow-ray.jpg}" alt="product images">
                                        </a>
                                    </div>
                                </div>
                                <div class="product__details" align="center">
                                    <h2><p style="color:red;">Yellow Ray</p></h2>                                 
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Product Area -->
        <div th:replace="footer.html :: copy"></div>
    </div>
   <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <!-- Bootstrap Framework js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>

</body>

</html>
